@use "../scss/variables.scss" as colors;

.grid {
  width: 100%; 
    max-width: 1361px; 
    margin: 40px auto; 
    padding: 30px;
    background-color: #F7F7F7;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

  a {
      text-decoration: none; 
  }
}

/* Responsive */
@media (max-width: 1240px) {
  .grid {
      
      grid-template-columns: repeat(3, 1fr);
      width: 92%;
  }
}

@media (max-width: 768px) {
  .grid {
      width: 85%;
      grid-template-columns: 1fr; 
  }
}
